<h1>Treatments</h1>

<table id="treatments-table">
  <% @treatments.each do |treatment| %>

  <tr>
    <td><%= link_to treatment.name, treatment %></td>
    <td><%= treatment.description %></td>
    <td><%# button_to "Prescribe", user_prescriptions_path(@user), disabled: false, method: :post, action: "create" , data: {confirm: "Do you want to create this prescription?"}  %></td>
  </tr>

  <% end %>

  <tr>
    <td></td>
    <td>
      <%= button_to 'Add New Treatment', new_treatment_path, method: :get %>
    </td>
    <td></td>
  </tr>

</table>
