<h1>Edit <%= @user.name %></h1>

<%= render 'sessions/form', user: @user, submit_message: "Edit User", path: users_path %>


<%= button_to "Delete User", user_path(@user), method: :delete, data: {confirm: "Do you want to delete user?"} %>