// general

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: #EAE6DD;
}

h1 {
  text-align: center;
}

a {
  color: green;
}

// navbar

nav {
  background-image: image_url('matt-briney-0tfz7ZoXaWc-unsplash.jpg');
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  // link_to children
  a {
    color: white;
    background: #000a;
    text-align: center;
  }

}

// pharmacy icon

#pharmacy-icon-container {
  text-align: center;
  width: 100%;
}

#pharmacy-icon {
  width: 100px;
}

// form

form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-left: 20vw;
  margin-right: 20vw;

  label {
    text-align: center;
  }
}

form.button_to {
  display: block;
  margin: 0;
}

// treatments table

#treatments-table {
  border: solid black 2px;

    td {
      border: solid black 2px;
      min-width: 20em;
      text-align: center;
    }

    margin-bottom: 1em;

}

// footer

footer {
  background-image: image_url('katherine-hanlon-mod2s3-qFOc-unsplash.jpg');
  background-position: center;
  background-size: cover;
  height: 20vh;
  margin-top: 1em;
  width: 100%;
}
